In [1]:
import numpy as np
import pandas as pd

In [2]:
test_data = pd.read_hdf('800x600.h5', 'df')

In [3]:
test_data

              x         y
0           0.0       0.0
1           0.0  0.001667
2           0.0  0.003333
3           0.0     0.005
4           0.0  0.006667
...         ...       ...
479995  0.99875  0.991667
479996  0.99875  0.993333
479997  0.99875     0.995
479998  0.99875  0.996667
479999  0.99875  0.998333

[480000 rows x 2 columns]